.Table {
  text-align: left;
  margin-left: 10rem;
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  }

  .Table-table {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    width:1300px;
    border-collapse: collapse;
  }
  
  .Table-heading-first {
    background-color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    width:400px;
    height: 100px;
    border: 2px solid #f5f5f5;
    vertical-align: bottom;
    padding: 10px 0px;
  }

  .Table-heading-first-label {
    margin-left: 10px;
    color: grey;
  }
  
  .Table-heading {
    background-color: #ffffff;
    font-size: 20px;
    font-family: sans-serif;
    text-align: center;
    width:300px;
    height: 100px;
    border: 2px solid #f5f5f5;
    padding: 30px 0px 30px 0px;
    align-content: center;
  }

  .Table-heading-a {
    color: mediumblue;
    margin: 0px 10px;
  }

  .Table-heading-label-category {
    color: grey;
    font-size: 14px;
    margin: 0px 20px 0px 0px;
  }

.Table-cell-first {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #f5f5f5;
  font-size: 20px;
  width:400px;
  height: 50px;
}

.Table-cell {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #f5f5f5;
  font-size: 20px;
  text-align: center;
  width:300px;
  height: 50px;
}

.Table-cell-selected {
  background-color: chartreuse;
  border: 1px solid #f5f5f5;
  font-size: 20px;
  text-align: center;
  width:300px;
  height: 50px;
}

.Table-cell-error {
  background-color: rgba(255, 255, 255, 0.8);
  border: 2px solid red;
  font-size: 20px;
  text-align: center;
  width:300px;
  height: 8px;
}

.Table-input {
  width: 396px;
  height: 46px;
  border-radius: 5px;
  border: 2px solid lightgray;
  font-size: 18px;
  color: grey;
}

.Table-input-error {
  border: 2px solid red;
  width: 396px;
  height: 46px;
}

.Table-hidden {
  visibility: hidden;
}

.Table-visible {
  visibility: visible;
}

.Table-button {
  width: 250px;
  height: 50px;
  border-radius: 30px;
  border: 1px solid midnightblue;
  font-size: 18px;
  background-color: midnightblue;
  color: white;
  margin-top: 2rem;
}